<!DOCTYPE html>
<html lang="en">
<head>
    <title>Unfiltered Thoughts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <div class="brand-logo">
            <a href="#">Unfiltered Thoughts</a>
        </div>
        <input type="checkbox" id="toggle-btn">
        <label for="toggle-btn" class="show-menu-btn"><i class="fas fa-bars"></i></label>
        <nav>
            <ul class="navigation">
                <li><a href="#"><i class="fas fa-house-damage"></i> Home</a></li>
                <li><a href="#"><i class="fas fa-question"></i> About Us</a></li>
                <li><a href="#"><i class="fas fa-phone-alt"></i> Contact Us</a></li>
                <label for="toggle-btn" class="hide-menu-btn"><i class="fas fa-times"></i></label>
            </ul>
        </nav>
    </header>
    <main>