$headerBg: #C08261;
$footerBg: #9A3B3B;
$bodyBg: #F2ECBE;
$secondBg: #E2C799;
main{
    background-color: $bodyBg;
    padding: 20px 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}
nav{
    background-color: $headerBg;
    color: #fff !important;
    padding: 20px 20px !important;
    ul{
        margin-left: auto;
    }
}
.nav-link{
    &:hover{
        color: $secondBg !important;
    }
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 10vh;
    background-color: $footerBg;
}
.list-inline{
    .bi{
        color: $footerBg;
    }
}